div(id=content_id style="position:absolute; top:" + y +"px; left:"+ x +"px;")
  .ui.header #{label}
  figure(id=content_id + "_inner" class="stack stack-spread" )
    img(src=image)
    img(src=image)
    img(src=image)
    img(src=image)
    img(src=image)
  script
    |function afterAddDomContent() {
    if (highlight == 'on')
        |    $('##{content_id}_inner' )
        |        .transition('set looping')
        |        .transition('jiggle', '2000ms');
    if (highlight == 'off')
        |    $('##{content_id}_inner').transition('remove looping');
    if (activate == 'on')
        |    $('##{content_id}_inner').on('click', function() {rpcServer['click_#{id}'](gameboard.clientId)});
    if (activate == 'off')
        |    $('##{content_id}_inner').off('click');
    |}
