div(id=contentId class="three wide column")
    div(id="inner_" + contentId class="ui " + type + " rating" data-rating=value data-max-rating=max )
    br
    div(class="rating_label" style="vertical-align: bottom; color:white;") #{label}
    script.
        function afterAddDomContent() {
                $('#inner_#{contentId}')
                  .rating('disable');
        }
