div(id=contentId class="five wide column")
    div(id="inner_" + contentId class="ui " + color + " inverted progress" data-value=value data-total=max)
      div(class="bar")
        div(class="progress")
      div(class="label") #{label}
      script.
          function afterAddDomContent() {
                  $('#inner_#{contentId}')
                    .progress();
          }
