div(id=contentId style="position:absolute; top:" + y +"px; left:"+ x +"px; width:200px;")
    div(id="inner_" + contentId class="ui " + color + " progress" data-value=value data-total=max)
      div(class="bar")
        div(class="progress")
      div(class="label") #{label}
      script.
          function afterAddDomContent() {
                  $('#inner_#{contentId}')
                    .progress();
          }
