div(id=contentId style="position:absolute; top:" + y +"px; left:"+ x +"px;")
    div(id="inner_" + contentId class="ui " + type + " rating" data-rating=value data-max-rating=max )
    br
    div(class="rating_label") #{label}
    script.
        function afterAddDomContent() {
                $('#inner_#{contentId}')
                  .rating('disable');
        }
